.font-family {
    font-family: 'Poppins', sans-serif;
}

.bgcolor {
    background-color:
        #F4FAFD;
}

.bgcolor2 {
    background-color: #289BDE;
    padding-top: 80px;
    padding-bottom: 80px;
}

.student {
    height: 400px;
    width: 312px;
    left: 812px;
    top: 3728px;
    border-radius: 5px;

}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.fa-envelope,
.fa-facebook,
.fa-telegram .fa-phone-flip {
    color: white;
}

.footer-items {}