.get-started {
    margin-bottom: 120px;
}

.font-family {
    font-family: 'Poppins', sans-serif;
}

.bgcolor {
    background-color:
        #F4FAFD;
}

.bgcolor2 {
    background-color: #289BDE;
    padding-top: 80px;
    padding-bottom: 80px;
}